body {
    font-family: roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    font-size: 1.3rem;
}

.first-part {
    background-color: gold;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.description {
    width: 80%;
    margin-left: 2.8rem;
    margin-top: 2rem;
    color: rgb(33, 49, 47);
}

.second-part {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%; 
    background-color: white;
}

.about {
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}

.social {
    margin-top: 2rem;
}

.plus {
    margin-top : 3rem;
    text-align: center;
}

.second-part h2 {
    padding-bottom: 1rem;
    width: 90%;
}

.id {
    border: 7px solid rgba(33, 49, 47, 0.6);
    border-radius: 50%;
    margin: 4rem;
    width: 19rem;
    height: 19rem;
}

.content {
    display: flex;
}


.first-part .box{
    width: 100%;
}

.first-part h2 {
    text-align: center;
    padding: 0.5rem 1.5rem;
    background-color:rgb(33, 49, 47);;
    color : gold;

}

.second-part h2, .xp {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.second-part .box {
    width : 90%;
}

.formation > h3 {
    margin-bottom: -1rem;
    margin-top: -1rem;
}


.name {
    width: 90%;
    font-size: 2rem;
    margin-top: 6rem; 
    margin-bottom: 4rem;
}

i {
    margin : 1rem;
}

.second-part i {
    color: gold;
}

.hobbies {
    margin-top: 3rem;
    padding-top: 6rem;
    padding-bottom: 2rem;
    text-align: center;
}

.stv {
    color : gold;
    font-size: 4rem;
}

.dev {
    border-bottom: 2px solid gold;
}

h3, h4, h5, li, .hobbies {
    color: rgb(78, 78, 78);
}

.skill {
    padding: 3rem;
}



.replace {
    display : flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 5rem;
    border-bottom : 2px solid gold;
    margin-bottom: 3.5rem;
}

ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Media Queries */

@media screen and (max-width : 800px) {
    .content {
        display:block;
    }
    .first-part {
        width: 100%;
    }
    .second-part {
        width: 100%;
    }
    #query {
        padding-bottom: 1rem ;
    }
}




